<div class="container">
  <h1>SmartSpend</h1>

  <div class="navigation">
    <a routerLink="home">Home - </a>
    <a routerLink="overview">Overview - </a>
    <a routerLink="nav">Nav -</a>
    <a routerLink="barchart">barchart -</a>
  </div>

  <router-outlet></router-outlet>

  <hr>
  <div class="container">
    <h1>My costs</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="list-group">
          <li class="list-group-item" *ngFor="let costs of costs$ | async ">
            <input type="hidden" value="{{ costs.id }}" #newId class="form-control-lg edit">
            <input type="text" value="{{ costs.description }}" #newDescription class="form-control-lg edit">
            <input type="text" value="{{ costs.cost }}" #newCost class="form-control-lg edit">
            <input type="text" value="{{ costs.category}}" #newCategory class="form-control-lg edit">
            <input type="text" value="{{ costs.type}}" #newType class="form-control-lg edit">
            <button (click)="deleteCost(costs.id)" class="btn btn-danger">X</button>
            <button class="btn btn-primary"
              (click)="editCost(newId.value, newDescription.value, newCost.value, newCategory.value, newType.value)">Edit</button>
          </li>
        </div>
        <div class="col">
          <input type="text" placeholder="Description" #newDescription class="form-control-lg">
          <input type="text" placeholder="Cost" #newCost class="form-control-lg">
          <!-- <input type="text" placeholder="Category" #newCategory class="form-control-lg">
          <input type="text" placeholder="Type" #newType class="form-control-lg"> -->
          <div>
            Category:
            <select>
              <option value="Entertainment" #newCategory>Entertainment</option>
              <option value="Shopping" #newCategory>Shopping</option>
              <option value="Health" #newCategory>Health</option>
              <option value="Savings" #newCategory>Savings</option>
              <option value="Insurance" #newCategory>Insurance</option>
              <option value="Transport" #newCategory>Transport</option>
              <option value="Hobby" #newCategory>Hobby</option>
              <option value="Groceries" #newCategory>Groceries</option>
              <option value="Loan" #newCategory>Loan</option>
              <option value="Gift" #newCategory>Gift</option>
              <option value="Rent" #newCategory>Rent</option>
              <option value="Other" #newCategory>Other</option>
            </select>
          </div>
          <div>
            Type cost:
            <select>
              <option value="Fixed Cost" #newType>Fixed Cost</option>
              <option value="Variable cost" #newType>Variable cost</option>
            </select>
          </div>
          <button class="btn btn-primary"
            (click)="addCost(newDescription.value, newCost.value, newCategory.value, newType.value)">Add</button>
        </div>
        <div>select toevoegen</div>


        <div class="text-center">Copyright Frauke, Janique & Astrid inc. &copy;2020</div>
     
      </div>
    </div>

    



      <!--
  <div class="container">
    <h1>My costs</h1>
    <div class="row">
      <div class="col-md-6">
        

          <div class="list-group">
            <li class="list-group-item" *ngFor="let costs of costs$ | async ">
              {{ costs.id }} - {{ costs.description }} - {{ costs.cost }} - {{ costs.category}} - {{ costs.type}} 
              <button (click)="deleteCost(costs.id)">X</button>
              <button (click)="editCost(costs.id)">Edit</button>
            </li>
          </div>

          <div class="col">
            <input type="text" placeholder="Description" #newDescription class="form-control-lg">
            <input type="text" placeholder="Cost" #newCost class="form-control-lg">
            <input type="text" placeholder="Category" #newCategory class="form-control-lg">
            <input type="text" placeholder="Type" #newType class="form-control-lg">
            <button class="btn btn-primary"
              (click)="addCost(newDescription.value, newCost.value, newCategory.value, newType.value)">Add</button>

          </div>


        
          <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
          </datalist>
        -->





       

