<!-- the sidebar -->
<nav class="sidenav  navigatie " *ngIf='authService.isLoggedIn'>
  <a class="navbar-brand" routerLink="home">
    <img src="../assets/img/icon/logo_V02.png"   class="d-inline-block align-top img-fluid align-center" alt="SmartSpend">
  </a>
  <hr>
  <a routerLink="home">
    <fa-icon [icon]="faHome"></fa-icon>
  </a>
  <a routerLink="overview">
    <fa-icon [icon]="faChartLine"></fa-icon>
  </a>
  <hr>
  <a routerLink="overview" (click)="authService.logout()" *ngIf ="authService.isLoggedIn">
    <fa-icon [icon]="faPowerOff"></fa-icon>
  </a>
</nav>
<!-- Page content -->
<div class="container">
  <router-outlet></router-outlet>
</div>