/*
COLOURS

#0E3030     black

#F0F7F7     light blue
#AEDADA     dark blue
#006666     dark dark blue
#FFBC00     yellow
#FFFCEF     light yellow
#FF835D     pink
#FFEEE9     light pink

TEXT
#97AAAA     light gray
#006666     dark dark blue

*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

button {
	background-color: #ff835d;
	border-color: #ff835d;
	border-radius: 50px;
	align-items: center;
	font-family: "Montserrat";
	font-weight: bold;
	box-shadow: coral;
	color: white;
}

input[type=text],
[type=password] {
	border-color: #97aaaa;
	border-radius: 50px;
	font-family: "Montserrat";
	font-weight: bold;
	box-shadow: none;
	color: #006666;
}

p {
	font-family: "Montserrat";
	font-weight: bold;
	color: #97aaaa;
}

.welcome {
	font-size: x-large;
}

.smart {
	font-size: xx-large;
	font-weight: bolder;
	color: #006666;
}

::placeholder {
	color: #97aaaa;
}

button:hover,
button:active,
button:visited {
	background: #ff531f;
	border-color: #ff531f;
	color: white;
	box-shadow: none;
}

.container {
	margin: 0 auto;
}

.col1 {
	border: solid 2px;
	border-color: #006666;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 25%;
	margin-bottom: 25%;
}
.col2 {
	border: solid 2px;
	border-color: #006666;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 25%;
	margin-bottom: 25%;
}

.error {
	font-family: "Montserrat";
	font-weight: bold;
	color: #ff531f;
}
