

<div class="container">
    <div class="row ">
        <div class="col-md-6 d-flex justify-content-center col1">
            <img src="" alt="">
        </div>
        <div class="col-md-6 d-flex justify-content-center col2">
            <div class="card-body ">
                <p class="welcome">Welcome to <br><span class="smart">SMARTSPEND</span></p>
                <br>
                <div class="input">
                    <input type="text" class="form-control mb-2" placeholder="Email" #userEmail required autofocus>         
                    <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
                </div>
                <button class="btn btn-lg  btn-block mb-3" (click)="authService.login(userEmail.value, userPassword.value)">Login</button>
                <div id="error" class="error"></div>
            </div>
        </div>
    </div>
</div>

