/* You can add global styles to this file, and also import other style files */
/*
COLOURS

#0E3030     black

#F0F7F7     light blue
#AEDADA     dark blue
#006666     dark dark blue
#FFBC00     yellow
#FFFCEF     light yellow
#FF835D     pink
#FFEEE9     light pink

TEXT
#97AAAA     light gray
#006666     dark dark blue

*/


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1{
    font-family: "Montserrat";
    font-weight: 800;
    color: #0E3030 ;
}

input.form-control-lg.edit {
    border: none!important;
    border-bottom: #a79486!important;
    border-bottom: dashed!important;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    border-top: none;
    border-width: thin!important;
    margin-bottom: 20px!important;
}

.container{
    background-color: #F0F7F7 ;
    padding: 20px;
}

.navigation a {
    color: #006666;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 1.4em;
}
.navigation a:hover{
    color: #AEDADA;
    text-decoration: none;
}
