/*
COLOURS

#0E3030     black

#F0F7F7     light blue
#AEDADA     dark blue
#006666     dark dark blue
#FFBC00     yellow
#FFFCEF     light yellow
#FF835D     pink
#FFEEE9     light pink

TEXT
#97AAAA     light gray
#006666     dark dark blue

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.date {
	font-family: "Montserrat";
	color: #ffbb0057;
	text-align: center;
}

input.form-control-lg.edit {
	border: none !important;
	border-bottom: #a79486 !important;
	border-bottom: dashed !important;
	border-right: none;
	border-left: none;
	border-radius: 0px;
	border-top: none;
	border-width: thin !important;
	margin-bottom: 20px !important;
}

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 7%; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: rgb(28, 132, 131);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
	text-align: center;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #f0f7f7;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: rgb(0, 84, 82);
}

/* Style page content */
.main {
	margin-left: 7%; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

p {
	text-align: center;
	font-family: "Montserrat";
}

a:focus {
	color: rgb(0, 84, 82);
}
