<div class="container">
        <h1>Expenses</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <li class="list-group-item" *ngFor="let costs of costs$ | async ">
                        <input type="hidden" value="{{ costs.id }}" #newId class="form-control-sm edit">
                        <input type="text" value="{{ costs.description }}" #newDescription class="form-control-sm edit">
                        <input type="text" value="{{ costs.cost }}" #newCost class="form-control-sm edit">
                        <input type="text" value="{{ costs.category}}" #newCategory class="form-control-sm edit">
                        <input type="text" value="{{ costs.type}}" #newType class="form-control-sm edit">
                        <input type="text" value="{{ costs.date}}" #newDate class="form-control-sm edit">
                        <button class="btn check" (click)="editCost(newId.value, newDescription.value, newCost.value, newCategory.value, newType.value,newDate.value)">
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </button>
                        <button (click)="deleteCost(costs.id)" class="btn trash">
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </button>   
                    </li>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-auto ">
                <input type="text" placeholder="Description" #newDescription class="form-control-lg brd">
            </div>
            <div class="col-sm-auto ">
                <input type="text" placeholder="Cost" #newCost class="form-control-lg brd">
            </div> 
            <div class="col-sm-auto"> 
                <!-- <label for="category">Category:</label> -->
                <select id="category" name="category" class="form-control select" #newCategory>
                    <option value="Entertainment">Entertainment</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Health">Health</option>
                        <option value="Savings">Savings</option>
                        <option value="Insurance">Insurance</option>
                        <option value="Transport">Transport</option>
                        <option value="Hobby">Hobby</option>
                        <option value="Groceries">Groceries</option>
                        <option value="Loan">Loan</option>
                        <option value="Gift">Gift</option>
                        <option value="Rent">Rent</option>
                        <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-sm-auto">
                <!-- <label for="type">Type cost:</label> -->
                <select id="type" name="type" class="form-control select" #newType>
                    <option value="Fixed Cost">Fixed Cost</option>
                    <option value="Variable cost">Variable cost</option>
                </select>
            </div>
            <div class="col-sm-auto data">
                <input type="date" name="date" class="brd" #newDate >  
            </div> 
            <div class="col-sm-auto">
                <button class="btn btn-primary add" (click)="addCost(newDescription.value, newCost.value, newCategory.value, newType.value, newDate.value)">Add</button>
            </div>
        </div>
    <hr>
    <div class="text-center">Copyright Frauke, Janique & Astrid inc. &copy;2020</div>
</div>
       