.trash {
	color: rgb(255, 99, 76);
}
.check {
	color: rgb(254, 176, 10);
}

.brd,
select {
	border: 2px solid rgb(254, 176, 10);
	border-radius: 4px;
	height: 40px;
}
.add {
	background-color: rgb(255, 99, 76);
	border-color: rgb(255, 99, 76);
}
.dtb {
	border: 1px solid;
	border-color: darkgray;
	border-radius: 15px;
	box-shadow: 5px 5px 5px grey;
	text-align: center;
}
